########################################################################
#              SPINE DEVICE - BACKBONE                                 #
#        Access to this device is restricted to members of the         #
#             network architecture group                               #
#                                                                      #
# Welcome to spine2                                                    #
# model vEOS-lab                                                       #
# serial number 7D732D47D86526B5F9C082C0D145F822                       #
########################################################################